.kpi-card, .chart-card {
  background-color: var(--card-bg-secondary) !important;
  border-radius: 24px;
}

.kpi-icon {
  background-color: var(--icon-bg);
  padding: 10px;
  border-radius: 12px;
  color:var(--icon-color);
}
.rev-p, .rev-h3{
  color: var(--text-primary-color) ;
}

.chart-title {
  font-family: serif;
  color: var(--text-primary-color) !important;
}

.stats-up {
  color: #28a745;
  font-weight: 500;
}

.stats-down {
  color: #dc3545;
  font-weight: 500;
}

/* Matching the serif font from your screenshot */
h3, h5 {
  font-family: 'Playfair Display', serif;
}