.team-card {
  border-radius: 24px;
  transition: transform 0.2s ease;
  background-color: var(--card-bg-secondary) !important;
  color: var(--text-primary-color) !important ;
}

.team-card:hover {
  transform: translateY(-5px);
}

.team-icon-wrapper {
  background-color: var(--icon-bg) ;
  padding: 10px;
  border-radius: 12px;
  color: var(--icon-color);
}

.team-name {
  font-family: serif;
  color: var(--);
}

/* Status Badges */
.status-pill {
  padding: 6px 12px;
  border-radius: 50px;
  font-weight: 500;
  font-size: 0.7rem;
  text-transform: capitalize;
}

.status-pill.active { background-color: #e6f3ed !important; color: #1e4d3a; }
.status-pill.upcoming { background-color: #fef9e7 !important; color: #947600; }

/* Avatar Grouping */
.avatar-group {
  display: flex;
  padding-left: 0;
}

.avatar-circle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--card-bg-secondary);
  border: 1px solid var(--card-border);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: var(--text-primary-color) !important;
  font-weight: bold;
  margin-left: -8px; /* Creating the overlap */
}
.edit-btn{
  background-color: var(--btn-pay) !important;
  color: white !important;
}

.avatar-circle:first-child {
  margin-left: 0;
}

.btn-pill {
  border-radius: 50px;
}

.btn-custom {
  border-radius: 50px;
}